@model UpdateSliderVM
@{
    ViewData["Title"] = "Update";
}
<div class="col-md-6 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title"> Update Form</h4>

            <form class="forms-sample" method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="exampleInputUsername1">Name</label>
                    <input asp-for="Photo" class="form-control" placeholder="Name">
                    <span class="text-danger" asp-validation-for="Photo"> </span>
                </div>
                <button type="submit" class="btn btn-primary mr-2">Submit</button>
                <button asp-controller="slider" asp-action="index" class="btn btn-light">Go Back</button>
            </form>
        </div>
    </div>
</div>
@section scripts{
    <partial name="_ValidationPartial" />
}